@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  height: 100%;
  width: 100%;
  line-height: 24px;
  font-size: 18px;
  font-family: 'Ubuntu';
}

/** Tools */
.hidden {
  display: none;
}

.pull-right {
  float: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

/* Typo */

body {
  color: #333;
}

a {
  color: #535353;
}
a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
}

header,
section {
  width: 500px;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  line-height: 24px;
  font-size: 18px;
  font-family: 'Roboto';
}

/* form */
input,
.btn {
  border: 1px solid #535353;
  background: #f9f9f9;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0;
}

input[type="text"]:focus {
  background: white;
  border-color: #000;
  box-shadow: 0 0 2px 1px #333;
}

.btn:hover {
  background: #535353;
  color: #f9f9f9;
  border-color: #000;
  cursor: pointer;
}

.add-todo-form {
  width: 100%;
}

.add-todo-form .input {
  padding: 4px 5px;
  width: 86.2%;
}

.todo-item {
  padding: 5px 0;
  border-bottom: 1px solid #cfcfcf;
}


.todo-update {
  display: inline;
}
.todo-update input {
  font-size: 14px;
  line-height: 17px;
  padding: 2px 5px;
}
.todo-update .btn {
  padding: 1px 5px;
}

.todo-item.done {
  opacity: .5;
  text-decoration: line-through;
}

.todos-info {
  margin-top: 10px;
  font-size: .9em;
}
